<script id="CEquaerViewTemplate" type="text/template">
    <div class="common_container <%=data.elementClass%>">

        <div class="common_conteiner__top">

            <iframe name="equalFrame" src="/frames/math.html">

            </iframe>

            <!--<div class="main_equaer"></div>
            <div class="additional_equaer"></div>-->
        </div>

        <div class="common_conteiner__button">
            <div class="answer_text">
                <div class="answer_text__textfield">

                </div>
                <div class="answer_text__button">

                </div>
                <div class="solution_text__button hidden">

                </div>

            </div>
        </div>
    </div>
</script>