<script id="CTableSelectorTemplate" type="text/template">

    <div class="form_wrapper__label"><%=data.labelText%></div>
    <div class="flex_row">
        <%if (data.controls.add) {%>
        <a href="" data-link="" data-action="add" class="ctrl_btn icon_line_wrapper">
            <span class="standart__icon table_add_background" title="Добавить"></span>
            <span class="link_style create_new_test"></span>
        </a>
        <%}%>
        <%if (data.controls.edit) {%>
        <a href="" data-link="" data-action="edit" class="ctrl_btn icon_line_wrapper disabled">
            <span class="standart__icon table_edit_background" title="Редактировать"></span>
            <span class="link_style create_new_test"></span>
        </a>
        <%}%>
        <%if (data.controls.delete) {%>
        <a href="" data-link="" data-action="delete" class="ctrl_btn icon_line_wrapper disabled">
            <span class="standart__icon table_remove_background" title="Удалить"></span>
            <span class="link_style create_new_test"></span>
        </a>
        <%}%>
    </div>

    <table>
        <tr class="header_row">
            <%for (let i = 0; i < data.columns.length + 1; i++) {%>
                <%if (i == 0) {%>
                    <th  class="<%=''%>">
                        <%=''%>
                    </th>
                <%} else {%>
                    <th  class="<%=(data.columns[i-1].className) ? data.columns[i-1].className : ''%>">
                        <%=data.columns[i-1].label%>
                    </th>
                <%}%>
            <%}%>
        </tr>

        <%for (let j = 0; j < data.gridData.length; j++) {
            let row = data.gridData[j];
        %>
            <tr data-id="<%=data.gridData[j][data.idField]%>" <%=(row.className) ? 'class="' + row.className + '"' : ''%>>
                <%for (let i = 0; i < data.columns.length + 1; i++) {%>
                <td>
                    <%if (i == 0) {%>
                        <input type="checkbox" class="checkbox"/>
                    <%} else {%>
                        <%if (data.columns[i-1].name === "ord") {
                            row.ord = j;
                        %>
                            <%=j + 1%>
                        <%} else {%>
                            <%=row[data.columns[i-1].name]%>
                        <%}%>
                    <%}%>
                </td>
                <%}%>
            </tr>
        <%}%>
    </table>

    <%if (data.gridData.length == 0) {%>
        <div>Данные отвутствуют</div>
    <%}%>
</script>
